.Home {
    padding: 0px 20px;
    width: 100vw;
    z-index: 1000;
    margin-bottom: 100px;
}
  
  /* Add some padding to your main content to prevent overlap with the navbar */
  .Home1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 105px;
    margin-top: 10px; 
  }

  .Home1 > img {
    width: 100%;
    height: 60%;
    padding: auto;
  }

  
.Home2 {
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -70px; /* Adjust to overlap slightly */

}

.buttons-container {
  display: flex;
  gap: 20px;
}

.custom-button {
  background-color: #190047;
  color: white;
  border: none;
  padding: 12px 16px;
  height: 100px;
  width: 300px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.custom-button:hover {
  background-color: #3a0ca3;
}


@media (max-width: 1300px) {

  .custom-button {
    padding: 8px 12px;
    height: 60px;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
  }
  
}

@media (max-width: 768px) {
  .Home {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Home1 > img {
    width: 90vw;
    height: 250px;
    padding: auto;
  }
  .Home2 {
    width: 80%;
    /* position: absolute; */
    bottom: -20px; /* Adjust to overlap slightly */
    padding: auto;
  }
  .buttons-container {
   flex-direction: column;
   gap: 10px;
  }

  .custom-button {
    padding: 8px 12px;
    height: 60px;
    width: 300px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
  }
  
}
