.topbar {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  width: 100%;
  flex-wrap: wrap;
  height: 40px;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-icons > a {
  padding-top: 5px;
}

.social-logo {
  font-size: 15px;
  color: #5a5959;
  cursor: pointer;
  transition: color 0.3s;
}

.social-logo:hover {
  color: #007bff;
}

.website {
  color: white;
  text-decoration: none;
}

.emergency {
  color: red;
  font-weight: bold;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 5px;
}

.language-button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
}

.language-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #EEF6FD;
  min-width: 120px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-content div {
  padding: 8px 12px;
  color: #180056;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #a7a4bc;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
  .topbar {
    flex-direction: column;
    align-items: flex-start;
    font-size: 13px;
    padding: 10px;
    height: 40px;
  }

  .topbar-left {
    width: 100%;
    justify-content: space-between;
    padding: 0px;
  }

  .topbar-right {
    display:none;
  }

  .social-icons {
    gap: 8px;
  }

  .language-button {
    font-size: 11px;
    padding: 4px 8px;
  }

  .close-button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .topbar {
    font-size: 12px;
    padding: 8px;
    height: 30px;
  }

  .website {
    font-size: 10px;
  }
  
  .emergency {
    font-size: 10px;
  }
  
  .social-logo {
    font-size: 10px;
  }
}
