.topbar {
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 100%;
  }
  
  .topbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .social-icons {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    gap: 10px;               /* Space between icons */
    /* width: 100%;             Optional: makes sure it spans full width */
    /* height: 100%;            Optional: helps in vertical centering */
    text-align: center;
    /* background-color: green; */
  }
  
  .social-icons > a {
    padding-top:5px;
  }

  .social-logo {
    font-size: 15px;
    color: #5a5959;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .social-logo:hover {
    color: #007bff;
  }

  .website {
    color: white;
  }
  
  .website > a {
    text-decoration: none;
  }
  .emergency {
    color: red;
    font-weight: bold;
  }
  
  .topbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  
  .language-button {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .language-button:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  
  .close-button {
    background: none;
    border: none;
    color: white; /* Keep the close button white */
    font-size: 16px;
    cursor: pointer;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #EEF6FD;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dropdown-content div {
    padding: 8px 12px;
    color: #180056;
    cursor: pointer;
  }
  
  .dropdown-content div:hover {
    background-color: #a7a4bc;
  }
  